---
// src/components/Shoutbox.astro
const baseUrl = import.meta.env.BASE_URL;
---

<div>
  <div id='shoutbox' class='space-y-4'></div>

  <form id='shoutboxForm'>
    <input type='text' id='messageInput' placeholder='Enter your message' />
    <button type='submit'>Send</button>
  </form>
</div>

<script is:inline define:vars={{ baseUrl }}>

  async function fetchMessages() {
    try {
      const response = await fetch(`${baseUrl}api/shoutbox`);
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      const data = await response.json();
      console.log('Fetched messages from DB:', data);
      renderMessages(data);
    } catch (error) {
      console.error('Error fetching messages:', error);
    }
  }

  function renderMessages(messages) {
    const shoutboxContainer = document.getElementById('shoutbox');
    if (shoutboxContainer) {
      shoutboxContainer.innerHTML = '';
      console.log('Rendering messages:', messages);
      messages.forEach((msg) => {
        const messageElement = document.createElement('div');
        messageElement.textContent = `${msg.player_name}: ${msg.message} (${new Date(msg.timestamp).toLocaleTimeString()})`;
        shoutboxContainer.appendChild(messageElement);
      });
    }
  }

  async function handleSubmit(event) {
    event.preventDefault();
    const messageInput = document.getElementById('messageInput');
    if (messageInput) {
      const newMessage = messageInput.value;

      try {
        const response = await fetch(`${baseUrl}api/shoutbox`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ player_name: 'Player1', message: newMessage }),
        });
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        messageInput.value = '';
        fetchMessages();
      } catch (error) {
        console.error('Error submitting message:', error);
      }
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    const shoutboxForm = document.getElementById('shoutboxForm');
    if (shoutboxForm) {
      shoutboxForm.addEventListener('submit', handleSubmit);
    }
    // Fetch messages when the page loads
    fetchMessages();
  });
</script>
